.header-nav{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
ul > img{
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
}

li{
  text-decoration: none;
  list-style: none;
  width: 100px;
}

ul{
  padding: 0;
}


.logo{
  height: 2rem;
}
